common/sigcfg.h

crosspat/crosspat
features/features
paramchooser/paramchooser
slice/slice
storms/storms
svmtool/svmtool
winview/winview
Makefile
*/Makefile
*.pyc
*.o
*.a
*.autosave
*.swp
*/moc_*.cpp
*/ui_*.h
*/qrc_resource.cpp
pygymnext/_pygymnext.so
pygymnext/pygymnext.py
pygymnext/pygymnext_wrap.cxx

gui/*.npy
gui/output.txt
